@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import '@fontsource-variable/geist/wght.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Geist Variable', ui-sans-serif, system-ui;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

[data-theme="gruvbox"] {
  --background: oklch(96.55% 0.039 100.86);
  --foreground: oklch(36.13% 0.040 55.37);
  --card: oklch(94.35% 0.047 96.52);
  --card-foreground: oklch(42.49% 0.049 52.82);
  --popover: oklch(94.35% 0.047 96.52);
  --popover-foreground: oklch(42.49% 0.049 52.82);
  --muted: oklch(92.20% 0.055 92.53);
  --muted-foreground: oklch(61.92% 0.029 67.26);
  --border: oklch(36.13% 0.040 55.37 / 24%);
  --input: oklch(36.13% 0.040 55.37 / 28%);
}

[data-theme="gruvbox"].dark {
  --background: oklch(24.08% 0.005 219.67);
  --foreground: oklch(83.85% 0.056 81.25);
  --card: oklch(27.68% 0.000 0);
  --card-foreground: oklch(83.85% 0.056 81.25);
  --popover: oklch(27.68% 0.000 0);
  --popover-foreground: oklch(83.85% 0.056 81.25);
  --muted: oklch(34.41% 0.007 48.52);
  --muted-foreground: oklch(61.92% 0.029 67.26);
  --border: oklch(83.85% 0.056 81.25 / 16%);
  --input: oklch(83.85% 0.056 81.25 / 20%);
}

[data-theme="catppuccin"] {
  --background: oklch(0.9577608870760923 0.005766802410310402 264.53215164455946);
  --foreground: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357);
  --card: oklch(0.9334593324109276 0.00871379906203183 264.52060223534073);
  --card-foreground: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357);
  --popover: oklch(0.9334593324109276 0.00871379906203183 264.52060223534073);
  --popover-foreground: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357);
  --muted: oklch(0.8574770848204982 0.014479984436494493 268.47559171847894);
  --muted-foreground: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357);
  --border: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357 / 22%);
  --input: oklch(0.43546962809142425 0.04300795790486285 279.32502095123357 / 28%);
}

[data-theme="catppuccin"].dark {
  --background: oklch(0.24286694183838448 0.030357362759449658 283.9109702364141);
  --foreground: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369);
  --card: oklch(0.2155216079500624 0.02541687089919072 284.06469902193265);
  --card-foreground: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369);
  --popover: oklch(0.2155216079500624 0.02541687089919072 284.06469902193265);
  --popover-foreground: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369);
  --muted: oklch(0.3240218874463015 0.03188455239399239 281.9784417412653);
  --muted-foreground: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369);
  --border: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369 / 16%);
  --input: oklch(0.8786600793473718 0.04255199903517194 272.2767378415369 / 20%);
}

[data-theme="github"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196);
  --card: oklch(0.9781762000428171 0.003417901225747073 247.85805460023406);
  --card-foreground: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196);
  --popover: oklch(0.9781762000428171 0.003417901225747073 247.85805460023406);
  --popover-foreground: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196);
  --muted: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242);
  --muted-foreground: oklch(0.3290960118796363 0.015679453251968293 248.30294912147326);
  --border: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196 / 20%);
  --input: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196 / 24%);
}

[data-theme="github"].dark {
  --background: oklch(0.2780579499135369 0.01168750366481356 248.24728806649196);
  --foreground: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242);
  --card: oklch(0.2569801816285127 0.010477392719815619 242.11694907280057);
  --card-foreground: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242);
  --popover: oklch(0.2569801816285127 0.010477392719815619 242.11694907280057);
  --popover-foreground: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242);
  --muted: oklch(0.3290960118796363 0.015679453251968293 248.30294912147326);
  --muted-foreground: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242);
  --border: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242 / 16%);
  --input: oklch(0.9177172832524766 0.006321927297891015 255.47716992769242 / 20%);
}

[data-theme="tokyonight"] {
  --background: oklch(0.9134606413029159 0.006840019410463679 277.1561172132023);
  --foreground: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801);
  --card: oklch(0.8733648547638134 0.02001230301046542 270.1891474883833);
  --card-foreground: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801);
  --popover: oklch(0.8733648547638134 0.02001230301046542 270.1891474883833);
  --popover-foreground: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801);
  --muted: oklch(0.8352074599866394 0.025417424563778074 275.84841097562065);
  --muted-foreground: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801);
  --border: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801 / 22%);
  --input: oklch(0.28193836163981195 0.03551091682369051 274.7479190649801 / 28%);
}

[data-theme="tokyonight"].dark {
  --background: oklch(0.22628824760069702 0.02137409812156266 280.4870984066623);
  --foreground: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144);
  --card: oklch(0.20398157754195487 0.015843488398658845 284.9095341143195);
  --card-foreground: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144);
  --popover: oklch(0.20398157754195487 0.015843488398658845 284.9095341143195);
  --popover-foreground: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144);
  --muted: oklch(0.16451254718784245 0.013081390305492251 270.50072600905753);
  --muted-foreground: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144);
  --border: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144 / 16%);
  --input: oklch(0.8455730827486578 0.06106992689205965 274.7628550617144 / 20%);
}

[data-theme="rosepine"] {
  --background: oklch(0.9698720723623927 0.011322103110491734 71.89986806241637);
  --foreground: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905);
  --card: oklch(0.987030093703314 0.01068816090310542 76.60032355774987);
  --card-foreground: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905);
  --popover: oklch(0.987030093703314 0.01068816090310542 76.60032355774987);
  --popover-foreground: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905);
  --muted: oklch(0.9388893078150652 0.014522670750735385 64.33805177369683);
  --muted-foreground: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905);
  --border: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905 / 22%);
  --input: oklch(0.39642581795636894 0.0519263288382304 289.72270196617905 / 28%);
}

[data-theme="rosepine"].dark {
  --background: oklch(0.21335496622814742 0.02546581569613859 291.1310106842185);
  --foreground: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017);
  --card: oklch(0.24133392769454184 0.03222377228199055 289.13585738302146);
  --card-foreground: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017);
  --popover: oklch(0.24133392769454184 0.03222377228199055 289.13585738302146);
  --popover-foreground: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017);
  --muted: oklch(0.2707789721207659 0.04227474471395488 289.2331323300631);
  --muted-foreground: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017);
  --border: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017 / 16%);
  --input: oklch(0.9087872125059503 0.02985047635526246 289.96899334230017 / 20%);
}

[data-theme="kanagawa"] {
  --background: oklch(0.9359562894361583 0.06254488459247917 101.58587665983286);
  --foreground: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401);
  --card: oklch(0.8927146094266262 0.05961460322115165 99.06996008352456);
  --card-foreground: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401);
  --popover: oklch(0.8927146094266262 0.05961460322115165 99.06996008352456);
  --popover-foreground: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401);
  --muted: oklch(0.8755209339757457 0.03910761828384105 99.08567497457553);
  --muted-foreground: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401);
  --border: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401 / 22%);
  --input: oklch(0.4519002351544102 0.02592784102570855 285.3160266536401 / 28%);
}

[data-theme="kanagawa"].dark {
  --background: oklch(0.20251538062711866 0.003198353111441486 17.420872642212757);
  --foreground: oklch(0.8316090918735233 0.007023144351814378 145.5122194291949);
  --card: oklch(0.18100249697743045 0.0059782561074086735 106.98226118424446);
  --card-foreground: oklch(0.8316090918735233 0.007023144351814378 145.5122194291949);
  --popover: oklch(0.18100249697743045 0.0059782561074086735 106.98226118424446);
  --popover-foreground: oklch(0.8316090918735233 0.007023144351814378 145.5122194291949);
  --muted: oklch(0.2737978599995159 0.0014714643100100524 17.246768547290305);
  --muted-foreground: oklch(0.7222499172833228 0.01417151931247951 106.7492076168016);
  --border: oklch(0.8316090918735233 0.007023144351814378 145.5122194291949 / 16%);
  --input: oklch(0.8316090918735233 0.007023144351814378 145.5122194291949 / 20%);
}

[data-theme] {
  --accent: var(--muted);
  --accent-foreground: var(--foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground !font-sans;
  }
}
